.application{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.logo-container{
    display: flex;
    flex-direction: column;
    width: 100px;
    align-items: center;
}

#logo{
    height: 40px;
    width: 50px;
}

.nav-title{
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories{
    padding: 5px;
    text-align: center;
}

.search-bar{
    display: flex;
}

.search{
    padding: 5px;
}

.All-title-container{
    display: flex;
    padding: 10px;
    align-items: center;
    background-color: whitesmoke;
}